body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #2e2f42;
}
.nav-logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style-type: none;
}

span {
  color: #4d5ae5;
}

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
